body {
    background-color: #E5E5E5;
}
main {
    width: 570px;
    height: 590px;
    margin: 0 auto;
}
.container { 
    padding: 35px 34px 16px 36px;
    text-align: left;
    background-color: #FFFFFF;
    font-family: "Roboto";
    font-style: normal;
}
h1 {
    width: 199px;
    height: 32px;
    color: #1C1C1C;
    font-size: 24px;
}
.about {
    display: flex;
    flex-direction: row;
}  
.form_item input {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    width: 245px;
    height: 38px;   
}
.form_mail input {
    display: flex;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    width: 500px;
    height: 38px;
    margin-top: 3.5px;
}
select {
    width: 245px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #545454;
}
label {
    font-size: 15px;
    color: #545454;
}
.button {
    width: 500px;
    height: 38px;
    box-sizing: border-box;
    background: #007BFF;
    border: none;    
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 13px;
    transition: all 0.5s;
}
button:hover {
    background-color: #052446;
}
.border {
    border-bottom: 1px solid #E4E4E4;
    width: 500px;
    margin-bottom: 20px;
}
.form_item .f_name {
    margin: 3.5px 12px 3.5px 0;
} 
.form_item .l_name {
    margin: 3.5px 0 3.5px 0;
} 
.form_mail {
    margin: 16.5px 0 20px 0;
 }
.mail-explane {
    font-weight: 400;
    font-size: 13px;
    color: #969696;
    margin-top: 3.5px;
}
.radio {
    margin: 20px 340px 20px 0;
    font-weight: 400;
    font-size: 15px;   
    color: #545454;
}
.gender {
    margin-right: 21px;
}
.form_item .country {
    margin: 3.5px 12px 3.5px 0;
} 
.form_item .city {
    margin: 3.5px 0 3.5px 0;
} 
.text {
    width: 410px;
    height: 36px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #545454;
    margin: 22px 79px 20px 45px;
}
a {
    text-decoration: none;
    color: #007BFF;;
}
.login {
    display: inline;
}
.info { 
    padding: 0px;
    gap: 20px;
    margin-right: 20px;
    margin-left: 160px;
    font-weight: 400;
    font-size: 15px;
    color: #545454;
}

