/* *** Zero *** */
*{
  padding: 0;margin: 0;
  border: 0;
  user-select: none;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: pan-x pan-y;
  
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.container {
  font-family: 'Lato';
  font-style: normal;
}
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #BDBDBD;
  height: 80px;
}
.head-menu {
  margin: 0px 256px 0 206px;
}
.head-menu .list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
  background: #FFFFFF;
}
.head-menu__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #3C3C3C;

}
.head__logo {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
}
.head__title {
  font-family: 'Train One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #282528;
}
.callback {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 42px;
  border: 1px solid #3C3C3C;
  font-weight: 600;
  font-size: 18px;
  color: #3C3C3C;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  height: 833px;
  left: 0px;
  top: 80px;
  background: #F6F6F6;
}
.content__body {
  width: 1170px;
  height: 533px;
  left: 135px;
}
.content__header {
  margin: 0 0 60px 0;
}
.content__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #3C3C3C;
  position: relative;
  margin-bottom: 64px;
}
.content__title::after{
  content: "";
  position: absolute;
  display: block;
  width: 45px;
  height: 4px;
  background: #DDDBDB;
  left: 48%;
  top: 57px;
}
  
.content__subtitle {
  width: 570px;
  height: 42px;
  margin: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3C3C3C;
}
.content__row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.team-item {
  position: relative;
}
.team-item__photo {
  width: 270px;
  height: 270px;
  align-items: center;
  justify-content: center;
  display: block;
  backface-visibility: hidden;
}
.content__social{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 270px;
  height: 270px;
  opacity: 0;
  transition: .5s ease;
  background-color: #18B5DC;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sociallink {
  width: 42px;
  height: 42px;
  background: #5DCBE6;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sociallink:hover {
  color: #18B5DC;
  background: #FFFFFF;
}
.team-item__photo:hover .content__social{
  opacity: 1;
}
.team-item__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #282528;
  margin-top: 20px;
}
.team-item__job {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #646464;
}
.ending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px 28px;
  margin: 40px 0;
}
 
.social-links {
  display: flex;
  width: 250px;
  height: 42px;
  gap: 10px;
}
.social-link {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid #18B5DC;
  text-decoration: none;
  color: #18B5DC;
}
.social-link:hover {
  background-color: #18B5DC;
  color: #FFFFFF;
}
footer .head-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #3C3C3C;
}
.font {
  width: 384px;
  height: 22px;
}
.head-menu__link:hover {
  color: #18B5DC;
}

