body {
    margin: auto;
    padding: 15px;
    width: 700px;
    height: 100%;
    border-style: ridge;
}
header, main, footer {
    background-color: beige;
}
nav {
    margin-left: 0%;
    text-align: center;
}
li {
    display: inline-block;
    padding: 30px;
    color: #000000;
    font-weight: 700;
}
h1, h3 {
    text-align: center;
    font-weight: 700;
}
.picture {
    width: 250px;
    height: 50px; 
}
.example1 {
    width: 280px;
    height: 215px;
    margin: 0px 200px;
}

