.container {
  font-family: 'Open Sans';
  font-style: normal;
  text-align: center;
}
.navigation {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}
.menu {
  display: flex;
  flex-direction: row;
  width: 496px;
  gap: 40px;
  margin: 25px 237px;
}
nav {
  width: 970px;
  border-bottom: 1px solid #828282;
}
.menu a {
  font-size: 18px;  
  color: #828282;
  text-decoration: none;
}
li a:hover {
color: #070707;
}
#first-screen{
  margin: 0 auto;
  width: 970px;
}
h1 {
  width: 300px;
  height: 60px;
  font-size: 48px;
  font-weight: 700;
  color: #070707;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 50px;
  line-height: 65px;
}
.foto {
  width: 970px;
  height: 387px;  
  margin: 0 auto;
  padding: 0;
}
#about-me {
  background: #E5E5E5;
}
.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #070707;
  padding-top: 100px;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 30px;
  font-weight: 400;
  font-size: 18px;
  color: #070707;
  padding-bottom: 100px;
  margin-top: 50px;
}
#skills {
  height: 564px;
}
.product-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 97px;
  margin-top: 50px;
}
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 170px;
  height: 230px;
}
.product-item__image {
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.product-item__title {
  display: block;
  width: 90px;
  color: #828282;
  font-weight: 700;
  font-size: 14px;  
  text-align: center;
  margin-bottom: 60px;
  hyphens: auto;
}
.product-item__stars {
  width: 170px;
  height: 26px;
}
#portfolio{
  background: #E5E5E5;
  height: 2268px;
}
.images{
margin-top: 50px;
}
figcaption {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-decoration-line: underline;
  color: #070707;
  margin-top: 40px;
  margin-bottom: 70px;
  hyphens: auto;
}
#contacts {
  display: flex;
  flex-direction: column;
}
.contacts-subtitle {
  margin-top: 20px;
}
button {
  width: 180px;
  height: 44px;
  background: #070707;
  border-radius: 22px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 70px;
  margin-bottom: 40px;
  transition: 0.5s;
}
button:hover{
  background: #383636;
}
.social__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: #070707;
  border-radius: 22%;
}
.social__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #828282;
  margin-top: 60px;
  margin-bottom: 100px;
}
