/* *** Zero *** */
*{
    padding: 0;margin: 0;
    border: 0;
    user-select: none;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    touch-action: pan-x pan-y;
    
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.container {
    max-width: 970px;
    width: 100%;
    margin: 235px auto;
}

nav  {
    margin: 25px 472px;
}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu a {
    display: inline-block;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1,36;   
    color: #828282;
    margin:2.5px 40px 2.5px 0; 
}
hr {
    width: 970px;
    color: #828282;
}
h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1,36;
    color: #070707;
    text-align: left;
}
